:root{
    --commonFont:"IBM Plex Sans Condensed", sans-serif;
}

.coontainer{
    width: 80% !important;
    margin: 0 auto;
    @media (max-width:768px) {
        width: 94% !important;
        margin: 0 auto;
    }
}

.title{
    font-size: 20px;
    font-weight: 400;
}